<form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>UserName</mat-label>
      <input matInput [(ngModel)] = "login.username" [ngModelOptions]="{standalone: true}" placeholder="UserName">
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <mat-label>Password</mat-label>
      <textarea matInput [(ngModel)] = "login.password" [ngModelOptions]="{standalone: true}" placeholder="Password"></textarea>
    </mat-form-field>
  </form>
  <button mat-button color="primary" class = "example-button-row" (click) = "submitUser()">Submit</button>

  <p>{{login.username}}</p>
  <p>{{login.password}}</p>
  <p>TEST</p>
