<div class="login-form">
    <h1 *ngIf="error" class="error-message">Wrong Credentials</h1>
    <mat-form-field class="example-full-width">
      <mat-label>UserName</mat-label>
      <input matInput [(ngModel)] = "login.username" [ngModelOptions]="{standalone: true}" placeholder="UserName">
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <mat-label>Password</mat-label>
      <input matInput type="password" [(ngModel)] = "login.password" [ngModelOptions]="{standalone: true}" placeholder="Password">
    </mat-form-field>
  <button mat-button color="primary" class = "example-button-row" (click) = "submitUser()">Submit</button>
</div>