table {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

form {
  max-width: 500px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.select {
  margin-left: 15px;
}

.example-full-width {
  width: 100%;
}
