<div class="button-row">
  <button mat-raised-button (click)="datePersonale()" color="primary">Date Personale</button>
  <button mat-raised-button (click)="changePassword()" color="primary">Schimba Parola</button>
  <button mat-raised-button *ngIf="checkStudent" (click)="studentGrades()" color="primary">Situatie Scolara</button>
  <button mat-raised-button *ngIf="checkSecretary" (click)="changeGrades()" color="primary">Edit Grades</button>
  <button mat-raised-button (click)="logout()" color="primary">Logout</button>
</div>

