.example-full-width {
    width: 30%;
    /* align-self: center; */
}

.login-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
.error-message {
    color: #cc0000;
    font-size: 16px;
}

.success-message {
    color: #02ff17;
    font-size: 16px;
}