<div class="login-form">
  <h1 *ngIf="error" class="error-message">Introdu parola din nou</h1>
  <h1 *ngIf="success" class="success-message">Parola schimbata cu success</h1>
  <mat-form-field class="example-full-width">
    <mat-label>Parola Curenta</mat-label>
    <input matInput [(ngModel)] = "currentPassword" [ngModelOptions]="{standalone: true}" placeholder="Current Password">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>New Password</mat-label>
    <input matInput type="password" [(ngModel)] = "newPassword1" [ngModelOptions]="{standalone: true}" placeholder="Password">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>New Password</mat-label>
    <input matInput type="password" [(ngModel)] = "newPassword2" [ngModelOptions]="{standalone: true}" placeholder="Password">
  </mat-form-field>
<button mat-button color="primary" class = "example-button-row" (click) = "changePassword()">Submit</button>
</div>