<!-- nav -->
<div *ngIf="showNavBar()">
<mat-toolbar color="primary">
  <span class="home-button"></span>
  <button (click)="goHome()" mat-icon-button color="white" aria-label="some">
    <mat-icon>home</mat-icon>
  </button>

  <!-- This fills the remaining space of the current row -->
  <span class="logout-button"></span>
  <button (click)="logout()" mat-icon-button color="white" aria-label="some">
    <mat-icon>person</mat-icon>
    Logout
  </button>
</mat-toolbar>
</div>
<!-- main app container -->
<div class="container">
  <router-outlet></router-outlet>
</div>
