table {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.input {
    border: 1px solid black;
    width: 40px;
}
.button2 {
    margin: 0;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}