<form class="example-form">
    <mat-form-field class="example-full-width">
        <mat-label *ngIf='groupToAdd'>Adauga grupa</mat-label>
        <input matInput [(ngModel)]="groupToAdd.number" name="grupa" placeholder="Grupa: ex 331">
    </mat-form-field>

    <h4>Selectati seria</h4>
    <mat-form-field>
        <mat-label>Selectati seria</mat-label>
        <mat-select (click) = "getSeriesFromServer()" [(ngModel)]="groupToAdd.seria" name="seria">
            <mat-option *ngFor="let seria of seriesToGet" [value] = "seria">
                {{seria.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <h4>Selectati majorul</h4>
    <mat-form-field>
        <mat-label>Selectati majorul</mat-label>
        <mat-select (click) = "getMajorsFromServer()" [(ngModel)]="groupToAdd.major" name="major">
            <mat-option *ngFor="let major of majorToGet" [value]="major">
                {{major.name}}
                {{major.faculty.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <button mat-button color="primary" class = "example-button-row" (click) = "methodToCall()">Adauga</button>
