<div class="example-container" *ngIf="currentStudent">
  <mat-form-field appearance="fill">
    <mat-label>Father Initial</mat-label>
    <input matInput [(ngModel)]="currentStudent.father_initial" name="father_initial">
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Student Identification Number</mat-label>
    <input matInput [(ngModel)]="currentStudent.sin" name="sin">
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>CNP</mat-label>
    <input matInput [(ngModel)]="currentStudent.cnp" name="cnp">
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Parola</mat-label>
    <input matInput [(ngModel)]="currentStudent.user.password" name="password">
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>First Name</mat-label>
    <input matInput [(ngModel)]="currentStudent.user.firstName" name="firstName">
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Last Name</mat-label>
    <input matInput [(ngModel)]="currentStudent.user.lastName" name="lastName">
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput [(ngModel)]="currentStudent.user.email" name="email">
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Phone Number</mat-label>
    <input matInput [(ngModel)]="currentStudent.user.phoneNumber" name="phoneNumber">
  </mat-form-field>
 <br>
 <section>
  <div class="example-button-row">
    <button mat-raised-button color="primary" (click)="updateStudent()">Edit</button>
  </div>
</section>

</div>

<div>
  <nav>
    <li><a routerLink="/view-student-courses" routerLinkActive="active"> Vezi situatie scolara </a></li>
  </nav>
</div>
<router-outlet></router-outlet>