.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  width: 120px;
}

.parent {
  display: flex;
  justify-content: center;
}
.example-button-row .header{
  display: flex;
  justify-content: center;
}

.informatii-personale-form {
  column-count: 3;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}